<div><!-- views/engineroom.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Homenaje|Oxygen+Mono" rel="stylesheet">
  <!-- static link to custom page js -->
  <script src="assets/js/scripts.js"></script>
  <!-- static link to custom site css -->
  <link rel="stylesheet" href="assets/css/style.css"></style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Burn</title>
</head>
<body>
  <div id="overlay"></div>
  <div id="background-image"></div>
    <nav>
        <div id="dist-tab" class="nav-btn selected">Distance</div>
        <div id="burn-tab" class="nav-btn">Burn</div>
        <div id="mgmt-tab" class="nav-btn">Management</div>
    </nav>
    <!-- CRUD TESTING -->

    <script>
      console.log("Fuelmass: <%=data.fuelmass %>");
      console.log("<%= data %>");
    </script>

    <!-- <form id="fuelForm" name ="fuelForm" action="">
      <input type="hidden" name="rowId" value="fuelmass" />
      <span>Fuelmass:</span>
      <input id="fuel" name="fuelVal" autocomplete="off" value="<%=data.fuelmass %>"/><button>Update</button>
    </form> -->

    <!-- <form id="createForm" name ="createForm" action="">
      <span>Enter name: </span>
      <input id="createRowName" name="createRowName" autocomplete="off" />
      <br />
      <span>Enter value: </span>
      <input id="createRowVal" name="createRowVal" autocomplete="off" />
      <button>Post</button>
    </form>

    <form id="delForm" name ="delForm" action="">
      <span>Delete a row: </span>
      <input id="rowName" name="rowName" autocomplete="off" /><button>Delete</button>
    </form> -->

    <!-- END TESTING -->
  <div id="wrapper">
      <!-- START INPUT -->

      <!--  START DIST INPUT -->
      <section class="content distance" id="dist-cont">
      <form class="input-holder" id="calc-form">
        <div class="calculator" style="">

          <div class="input">
              <div class="input-vals">
              <div>
                <span class="description">Total distance to Travel, s-zero (km)</span>
              </div>
              <div>
                  <input type="text" id="travel-dist" value="54600000" required>
              </div>
              <div>
                <span class="description">Acceleration burn in gravities, G-one</span>
              </div>
              <div>
                  <input type="text" id="accel-g" value="1" required>
              </div>
              <div>
                <span class="description">Starting Veloctiy, v-zero (km/h)</span>
              </div>
              <div>
                  <input type="text" id="start-vel" value = "0" required>
              </div>
              <div>
                <span class="description">Travel velocity, v-one (km/h)</span>
              </div>
              <div>
                  <input type="text" id="travel-vel" value="30000" required>
              </div>
              <div>
                <span class="description">Deceleration burn, G-two</span>
              </div>
              <div>
                  <input type="text" id="deccel-burn" value="1" required>
              </div>
              <div>
                <span class="description">Target velocity, v-two (km/h)</span>
              </div>
              <div>
                  <input type="text" id="target-vel" value="0" required>
              </div>
            </div>

          </div>

      </div>
    </form>
    <div class="bottom-button">
      <input type="button" id="dist-calc" value="Commit"></input>
    </div>
  </section>
  <!--  END DIST INPUT -->

  <!--  START BURN INPUT -->
  <section class="content burn" id="burn-cont" style="display: none">
    <div class="calculator" style="">

    <div class="input">
        <div class="input-vals">
        <div>
          <span class="description">Acceleration in g:</span>
        </div>
        <div>
            <input type="text" id="burn-accel" value="0.33333333333333" required>
        </div>
        <div>
          <span class="description">Distance to Travel in AU:</span>
        </div>
        <div>
            <input type="text" id="burn-dist" value="30" required>
        </div>
        <div>
          <span class="description">Exhaust Velocity /c</span>
        </div>
        <div>
            <input type="text" id="burn-exhaust" value = "0.1" required>
        </div>
        <div>
          <span class="description">Dry ship mass</span>
        </div>
        <div>
            <input type="text" id="burn-ship-mass" value="1" required>
        </div>
      </div>

    </div>
  </div>

  <div class="bottom-button">
    <input type="button" id="burn-calc" value="Commit"></input>
  </div>
  </section>
  <!--  END BURN INPUT -->

  <!--  START MGMT INPUT -->
  <section class="content mgmt" id="mgmt-cont" style="display: none">
    <div class="calculator" style="">

    <div class="input">
        <div class="input-vals">
        <div>
          <span class="description">Fuel mass:</span>
        </div>
        <div>
            <input type="text" id="fuel-mass" value="<%=data.fuelmass %>" required>
        </div>
      </div>

    </div>
  </div>

  <div class="bottom-button">
    <input type="button" id="mgmt-calc" value="Update"></input>
  </div>
  </section>
  <!--  END MGMT INPUT -->

                            <!-- INPUT END -->
  <!-- ============================================================== -->
                          <!-- RESULTS START -->

  <!--  START DIST RESULTS -->
  <section class="results-holder distance" id="dist-results">
    <div class="results">
      <!-- <h2>Calculated Values</h2> -->
      <div class="output" id="dist-calcs">
        <div>
          <span>Initial Delta v (m/s)</span>
        </div>
        <div>
          <input type="text" id="acc-init-delta" readonly>
        </div>
        <div>
          <span>Time of burn (m)</span>
        </div>
        <div>
          <input type="text" id="acc-time-burn" readonly>
        </div>
        <div>
          <span>Distance travelled (km)</span>
        </div>
        <div>
          <input type="text" id="acc-dist-travel" readonly>
        </div>

        <div>
          <span>Braking Delta v (m/s)</span>
        </div>
        <div>
          <input type="text" id="decel-brake-delta" readonly>
        </div>
        <div>
          <span>Time of burn (m)</span>
        </div>
        <div>
          <input type="text" id="decel-time-burn" readonly>
        </div>
        <div>
          <span>Distance travelled (km)</span>
        </div>
        <div>
          <input type="text" id="decel-dist-travel" readonly>
        </div>

        <div>
          <span>Distance travelled at velocity v-one (km)</span>
        </div>
        <div>
          <input type="text" id="total-dist-travel" readonly>
        </div>
        <div>
          <span>Time at desired velocity v-one (hours)</span>
        </div>
        <div>
          <input type="text" id="total-vel" readonly>
        </div>
        <div>
          <span>Total time of travel (hours)</span>
        </div>
        <div>
          <input type="text" id="total-travel-hours" readonly>
        </div>
        <div>
          <span>Total time of travel (weeks)</span>
        </div>
        <div>
          <input type="text" id="total-travel-weeks" readonly>
        </div>

      </div>


      <div class="return-button">
        <input type="button" id="dist-return" value="Return"></input>
      </div>


  </div>
</section>
<!--  END DIST RESULTS -->


<!--  START BURN RESULTS -->
<section class="results-holder burn" id="burn-results">
  <div class="results">
    <!-- <h2>Calculated Values</h2> -->
    <div class="output" id="burn-calcs">
      <div>
        <span>Acceleration in m^-1</span>
      </div>
      <div>
        <input type="text" id="accel-result" readonly>
      </div>
      <div>
        <span>Earth Distance in m</span>
      </div>
      <div>
        <input type="text" id="earthdist-result" readonly>
      </div>
      <div>
        <span>Earth Time in m</span>
      </div>
      <div>
        <input type="text" id="earthtime-result" readonly>
      </div>
      <div>
        <span>Maximum Speed</span>
      </div>
      <div>
        <input type="text" id="maxspeed-result" readonly>
      </div>
      <div>
        <span>Maximum Rapidity</span>
      </div>
      <div>
        <input type="text" id="maxrapidity-result" readonly>
      </div>
      <div>
        <span>Proper (Crew) Time</span>
      </div>
      <div>
        <input type="text" id="propertime-result" readonly>
      </div>
      <div>
        <span>Fuel Use</span>
      </div>
      <div>
        <input type="text" id="fueluse-result" readonly>
      </div>
    </div>


    <div class="return-button">
      <input type="button" id="burn-return" value="Return"></input>
    </div>


</div>
</section>
<!--  END BURN RESULTS -->

<!-- RESULTS END -->

</div>
</body>
</html>
