<div><!-- views/engineroom.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Homenaje|Oxygen+Mono" rel="stylesheet">
  <!-- static link to custom page js -->
  <script src="assets/js/scripts.js"></script>
  <!-- static link to custom site css -->
  <link rel="stylesheet" href="assets/css/style.css"></style>
  <meta charset="UTF-8">
  <title>Burn</title>
</head>
<body>
  <div id="overlay"></div>
  <div id="background-image"></div>
    <nav>
        <div id="dist-tab" class="nav-btn selected">Distance</div>
        <div id="burn-tab" class="nav-btn">Burn</div>
        <div id="mgmt-tab" class="nav-btn">Management</div>
    </nav>
  <div id="wrapper">
    <main class="content" id="dist-cont">

      <!-- TESTING! -->
      <script>
        console.log("Fuelmass: <%=data.fuelmass %>");
      </script>


      <!-- <form id="fuelForm" name ="fuelForm" action="">
        <input type="hidden" name="rowId" value="fuelmass" />
        <span>Fuelmass:</span>
        <input id="fuel" name="fuelVal" autocomplete="off" value="<%=data.fuelmass %>"/><button>Update</button>
      </form> -->

      <!-- <form id="createForm" name ="createForm" action="">
        <span>Enter name: </span>
        <input id="createRowName" name="createRowName" autocomplete="off" />
        <br />
        <span>Enter value: </span>
        <input id="createRowVal" name="createRowVal" autocomplete="off" />
        <button>Post</button>
      </form>

      <form id="delForm" name ="delForm" action="">
        <span>Delete a row: </span>
        <input id="rowName" name="rowName" autocomplete="off" /><button>Delete</button>
      </form> -->

      <form class="calc-form">
        <div class="calculator" style="">
          <!-- <h3>Navigation Calculations</h3> -->


          <div class="input">
              <!-- <h2>Values</h2> -->
              <div class="input-vals">
              <div>
                <span class="description">Total distance to Travel, s-zero (km)</span>
              </div>
              <div>
                  <input type="text" id="travel-dist" value="54600000" required>
              </div>
              <div>
                <span class="description">Acceleration burn in gravities, G-one</span>
              </div>
              <div>
                  <input type="text" id="accel-g" value="1" required>
              </div>
              <div>
                <span class="description">Starting Veloctiy, v-zero (km/h)</span>
              </div>
              <div>
                  <input type="text" id="start-vel" value = "0" required>
              </div>
              <div>
                <span class="description">Travel velocity, v-one (km/h)</span>
              </div>
              <div>
                  <input type="text" id="travel-vel" value="30000" required>
              </div>
              <div>
                <span class="description">Deceleration burn, G-two</span>
              </div>
              <div>
                  <input type="text" id="deccel-burn" value="1" required>
              </div>
              <div>
                <span class="description">Target velocity, v-two (km/h)</span>
              </div>
              <div>
                  <input type="text" id="target-vel" value="0" required>
              </div>
            </div>


          </div>



          <!-- <div class="results">
          <input type="submit" id="commit-calc" value="Commit"></input>
          <span id="calc-result"><span> -->
      </div>
    </form>
    <div class="bottom-button">
      <input type="button" id="commit-calc" value="Commit"></input>
    </div>
  </main>

  <div class="results-holder">
    <div class="results" id="dist-results">
      <!-- <h2>Calculated Values</h2> -->
      <div class="output" id="dist-calcs">
        <div>
          <span>Initial Delta v (m/s)</span>
        </div>
        <div>
          <input type="text" id="acc-init-delta">
        </div>
        <div>
          <span>Time of burn (m)</span>
        </div>
        <div>
          <input type="text" id="acc-time-burn">
        </div>
        <div>
          <span>Distance travelled (km)</span>
        </div>
        <div>
          <input type="text" id="acc-dist-travel">
        </div>

        <div>
          <span>Braking Delta v (m/s)</span>
        </div>
        <div>
          <input type="text" id="decel-brake-delta">
        </div>
        <div>
          <span>Time of burn (m)</span>
        </div>
        <div>
          <input type="text" id="decel-time-burn">
        </div>
        <div>
          <span>Distance travelled (km)</span>
        </div>
        <div>
          <input type="text" id="decel-dist-travel">
        </div>

        <div>
          <span>Distance travelled at velocity v-one (km)</span>
        </div>
        <div>
          <input type="text" id="total-dist-travel">
        </div>
        <div>
          <span>Time at desired velocity v-one (hours)</span>
        </div>
        <div>
          <input type="text" id="total-vel">
        </div>
        <div>
          <span>Total time of travel (hours)</span>
        </div>
        <div>
          <input type="text" id="total-travel-hours">
        </div>
        <div>
          <span>Total time of travel (weeks)</span>
        </div>
        <div>
          <input type="text" id="total-travel-weeks">
        </div>

      </div>


      <div class="return-button">
        <input type="button" id="dist-return" value="Return"></input>
      </div>


  </div>
</div>
</body>
</html>
