main, h1, h2, h3, h4, h5, p, a, span,  {
  color: white;
  font-family: $ff-body;
  text-shadow: 0 0 2px #FFF, 0 0 1px #0000AA;
}
text, input {
  font-size: 1.2rem;
  font-family: $ff-values;
}
body {
  background-color: black;
}


h3 {
  margin: 0 10vw;
  width: 100%;
}
.calculator {
  display: flex;
  margin: 0 10vw;
    .left-col, .right-col {
      flex: 1;
      background-color: grey;
      // border: 1px solid white;
      padding-top: 1rem;
      padding-left: 1rem;
      li {
        margin: 1rem, auto;
      }
  }
}

.results {
  margin: 0 10vw;
  #calc-result{
    color: #7c788a;
    background-color: white;
  }
}
