* {
    margin:0;
}
main, section, h1, h2, h3, h4, h5, p, a, span, nav {
  color: $white;
  font-family: $ff-body;
  text-shadow: 0 0 2px $white, 0 0 1px $c-glow;
}
text, input, button{
  font-family: $ff-values;
}
body {
  background-color: $black;
  overflow: hidden;
  // display: flex;
  // flex-direction: column;
  // height: 100vh;
}


nav {
  min-height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  z-index: 100;
  div {
    display: inline-flex;
    text-align: center;
    margin: auto;
    cursor: pointer;
    padding: 1rem;
  }
  .nav-btn.selected {
    color: $font-highlight;
  }
}

#background-image {
  position: absolute;
  top:0;
  height: 0;
  height: 100vh;
  width: 100%;
  background-image: url("/assets/img/background.jpg");
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
  filter: blur(15px);
}

#wrapper {
  position: absolute;
  top: 10vh;
  left: 0;
  max-height: 90vh;
  min-height: 90vh;
  max-width: 100vw;
  min-width: 100vw;
	overflow-x: hidden; /* For Opera */
	box-shadow: inset $c-glow 0 0 50px 1px;
  filter: blur(0px);

}

.calculator {
  // @include transIn;
  margin: 0 10vw;
  font-size: 1rem;
  position: relative;
  top: 2em;
  @include bp-700 {
    font-size: 1rem;
    margin-top: 3em;
  }

}
.bottom-button {
  #dist-calc, #burn-calc, #mgmt-calc {
    padding: 20px;
    z-index: 100;
    width: 80vw;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    color: white;
    font-size: 100%;
    border-color: rgba(0, 0, 0, 0);
    display: flex;
    margin: 0 auto 2.5em;
    cursor: pointer;
    transition: background-color 3s;
    @include bp-700 {
      margin-top: 3em;
      width: 30vw;
    }
  }
  #dist-calc:hover, #burn-calc:hover, #mgmt-calc:hover {
    box-shadow: inset $c-alert 0 0 50px 1px;
  }
}

 .results-holder {
    display: none;
    position: fixed;
    top: 0;
    .return-button {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 1em;
        input {
          padding: 20px;
          width: 60vw;
          background-color: rgba(255, 0, 0, 0.2);
          color: white;
          font-size: 100%;
          margin: 0 auto 2.5em;
          cursor: pointer;
          border-radius: 0;
          width: 65vw;
          @include bp-700 {
            width: 30vw;
          }
        }
        input:hover {
            box-shadow: inset $c-alert 0 0 50px 1px;
        }
    }
 }

.results {
  // display: none;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 2em;
  left: 0;
  z-index: 99;
  width: 100vw;
  #calc-result{
    color: #7c788a;
    background-color: white;
  }
  dist-calcs {

  }
}

.calculator input, .results input {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px dotted rgba(252,252,252,0);
  -webkit-border-radius: 13px;
  border-radius: 13px;
  color: $font-highlight;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,0);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
}

.calculator .input-vals, .results .output {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1em;
  padding: 0 1.5em;
  @include bp-700 {
    flex-direction: row;
    padding: 0;
    justify-content: center;
  }

  div {
    margin-bottom: 0.5em;
    @include bp-700 {
      margin-bottom: 2em;
      width: 40vw;
      height: 2em;
    }
  }
  div:nth-child(odd) {
    // flex: 0 0 70%;
    text-align: center;
  }
  div:nth-child(even) {
    // flex: 0 0 30%;
    text-align: right;
    @include bp-700 {
      text-align: center;
    }
    margin-bottom: 2em;
  }

    input {
      font-size: 1.5em;
      @include bp-700 {
        font-size: 1.5em;
        width: 100%;
      }
    }

}
